/* Header.scss */
.header {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.hamburger-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 80px;
}

.import-button-container {
  position: relative;
  width: 1px;
  top: -39px;
  left: 30px;
  margin-left: 64px;
  cursor: pointer;

  .import-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        background-color: darkgray;
    }
  }
}

.bar {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 130px;
}

.logo{
  margin-top: -139px; 
  border-radius: 10%;
}

.menu-open {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 13%;
  height: 100%;
  min-width: 120px;
}

.close-button {
  z-index: 100000;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -5%;
  font-size: 16pt;
  background-color: #ff605c;
  border-radius: 0px;
  color: black;
  padding: 4.5px;
  cursor: pointer;
}



//This makes the DaiqUIris logo dissaper whenever the window width reaches 550px
@media (max-width: 550px) {
  .logo {
    display: none;
  }
}
