.header {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  // Going to be used for whenever I implement the additional header features (This translates the header upward out of view

  // &.menu-open {
  //   transform: translateY(-100%);
  // }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
  }

  // Going to be used for whenever I implement the additional header features
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;

    .bar {
      width: 30px;
      height: 3px;
      background-color: #000;
      margin: 5px 0;
    }
  }

  .logo {
    img {
      max-width: 100%;
      max-height: 100px;
      display: block;
      margin: 0 auto;
    }
  }

  // Sidebar 
.side-menu {
  position: fixed;
  top: 0;
  left: -280px;
  width: 280px;
  height: 100%;
  background-color: #333;
  color: #fff; 
  transition: left 0.3s ease-in-out; 

  &.menu-open {
    left: 0;
  }
}
}